.todo-form {
  width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid black;
  padding: 10px;
}
.title {
}
.description {
}
.submit-button {
  align-self: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  gap: 10px;
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
}

.todo-task {
  list-style-type: none;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.todo-task p {
  margin: 5px;
}

.task-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button {
  width: 200px;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
}

.popup-content {
  padding: 10px;
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 30%;
  min-height: 30%;
  background: #fff;
  z-index: 10000;
}

.popup.open {
  display: block;
}
